<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script type="text/javascript" src="../../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/collapse.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body class="container-fluid">
    <div id="head">
        <h1 class="center-block">Data Base Version Control</h1>
    </div>
    <div id="content">
        <div class="row">
            <div class="col-md-2 card" id="menu">
                <div class="card-header">管理</div>
                <div class="card-block">
                   <a class="btn btn-primary">数据库管理</a>
                   <a class="btn btn-primary" data-toggle="collapse" aria-expanded="false" aria-controls="" href="#">数据库表</a>
                   <div class="collapse" id="tableList">
                     <div class="card card-block">
                       <ul>
                         <li>aaaaa</li>
                         <li>aaaddf</li>
                         <li>ssss</li>
                         <li>sssss</li>
                         <li>ffffggg</li>
                       </ul>
                     </div>
                   </div>
                </div>
            </div>
            <div class="col-md-10"></div>
        </div>
    </div>
    <hr />
    <div id="bottom">
       <div class="text-center">
          <strong>King</strong>
       </div>
    </div>
</body>
</html>
